
body {
    margin-left:50px;
    margin-right:50px;
    
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  
   
  }

  nav a {
    color: #314570;
    font-family: futura-pt;
    margin-left: 20px;
    text-decoration: none;
    position: relative;
    right: -45%
  }
  
  nav a:hover {
    opacity: 1;
    text-decoration: underline;
    color: #314570;
    
  }
  section {
    text-align: center;
  }
  header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #314570;
  }
  
  
  header h1 {
    font-size: 42px;
    margin-bottom: 5px;
    margin-top: 0;
    font-family:Futura;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 65px;
    font-color: #314570;
    
    
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    
    
    
  }
  .projects-container img {
    height: 600px;
    width: 500px;
    
  }
  
  .project-tile {
  
    margin: 10px;
    
  }
  
  .projects-container p {
    text-decoration: none;
  }
  .project-tile img {
    max-width: 100%;
    
  }
  
  .Post-Title {
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
  }
  .Sub-Title{
    font-size:15px;
    margin: 0px;
  }
  div a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  
  .hvrbox {
      position: relative;
      display: inline-block;
      overflow: hidden;
      max-width: 100%;
      height: auto;
    
  }
  .hvrbox img {
      max-width: 100%;
  }
  .hvrbox .hvrbox-layer_bottom {
      display: block;
   
  }
  .hvrbox .hvrbox-layer_top {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(14, 36, 51, 0.9);
      color: #fff;
      padding: 15px;
      -moz-transition: all 0.4s ease-in-out 0s;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
      opacity: 1;
    
  }
  .hvrbox .hvrbox-text {
      text-align: center;
      font-size: 18px;
      display: inline-block;
    font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  .hvrbox .hvrbox-text_mobile {
      font-size: 15px;
      border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
      border-top: 1px solid rgba(179, 179, 179, 0.7);
      margin-top: 5px;
      padding-top: 2px;
      display: none;
  }
  .hvrbox.active .hvrbox-text_mobile {
      display: block;
  }
  
  .Footer {
    bottom: 0;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .Footer img{
    width: 2rem;
  }
  #wrapper {
      margin-left:auto;
      margin-right:auto;
      width:1200px;
      background-color: #fff;
      height: 100%;
  
  }


 
  
/* Writing Page CSS*/
  .posts-wrapper{
    margin-left:30px;
    margin-right:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  .post-item {
    border-top: 1px solid var(--lightGrey);
    margin-top: 2.5rem;
    padding-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 40px minmax(500px, 1fr);
    grid-template-columns: 300px minmax(500px, 1fr);
    grid-column-gap: 40px;
    grid-template-areas: 'tease-img  tease-text';
  }
  
  .post-item:first-child {
    margin-top: 0.6rem;
  }
  
  .teaser-text {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: tease-text;
    position: relative;
  }
  
  .teaser-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    border-left: 3px solid #2a4676;
    position: relative;
    grid-area: tease-img;
    margin: auto;
  }
  
  
  .cat-col {
    display: block;
    float: right;
    position: absolute;
    left: 70%;
    width: 30%;
    text-align: right;
    clear: both;
    margin-bottom: 1rem;
  }
  
  .post-item-type {
    font-family: var(--sansFont), sans-serif;
    font-weight: bold;
    color: #314570;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
  
  a.post-item-title {
    font-family: 'Amster-Fina', serif;
    font-size: 2.05rem;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    color: var(--textBlack);
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.3;
    letter-spacing: 0.05em;
    /* text-transform: uppercase; */
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
  }
  
  a.post-item-title:hover {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    color: #314570;
  }
  
  
  .read-more {
    display: inline;
    margin-left: 1rem ;
    font-family: 'Amster-Fina', serif;
    font-weight: bold;
    letter-spacing: 0.01em;
    color: var(--textBlack);
    text-decoration: none;
  }

  
  .Own {
    display: flex;
    justify-content: center;
  }
  



/* About Page CSS*/
  .Content {
    margin-top: 100px;
    margin-right: 100px;
    display: inline-block;
    height: 200px;
  }
  
  .Profile {
    float:right;
    display: inline-block;
    margin-left: 50px;
    box-shadow: 15px 15px 15px #333333;
  }


  #post-wrapper {
    margin-left:100px;
    margin-right:100px;
    height: 700px;
  }




/* Post Page CSS*/
  #Twitter{
    font-size: 1.2rem;
    font-weight: bold;
  }
  #Date{
    line-height: 2;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .Content-Blog{
    font-size: 1.25rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    line-height: 1.75rem;
    font-weight: 400;
    color: #333;
   
  }
  
  .Content-Blog img{
    background-size: contain;
    width: 500px;
    height: 500px;
    display: flex;
    
  }

  #content-wrapper{
    margin-left: 200px;
    margin-right: 200px;
  }

  .Blog-title{
    display: flex;
    flex-direction: columns;
    justify-content: center;
    font-family: 'Amster-Fina', serif;
    font-size: 2.05rem;
    line-spacing:.05em;
    line-height: 2;
    display: block;
    font-weight: bold;
    
  }
